<!DOCTYPE html>
<html>
  <head>
    <script src="angular.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="mainCtrl">

    <form name="main" novalidate>
      All forms valid: {{ main.$valid }}<br><br>
      <ng-form name="subform" ng-repeat="value in values" ng-submit="handleSubmit($index)" novalidate>
        
        This is form {{ value }} (valid: {{ subform.$valid }})<br>
        
        <ng-form name="subsubform" ng-repeat="value_b in values" novalidate>
          <input name="input" ng-model="test" type="text" required> {{ input.$valid }}
        </ng-form>
        
        <!-- should output the form index in the console, see controller in script.js -->
        <button type="submit" ng-disabled="subform.$invalid">Submit</button><br>
      
    </ng-form>
    </form>
  </body>

</html>
