<div ng-controller="addController">
<div>
	<form name="addForm" ng-submit="doAdd(addForm)">
		<div class="title">微课堂</div>
        <div class="hline"></div>
        <div>
        	
		   
		        <div>
			        <span>编号</span>
			        <div class="qinputgroup2"  >
                            <input class="qinputitem2"    class="qinputitem2"  type="text" ng-model="item.id"/>
                    </div>
		        </div>
		        
		   		
		        <div>
			        <span>课程标题</span>
			        <div class="qinputgroup2"  >
                            <input class="qinputitem2"   ng-required='true'  class="qinputitem2"  type="text" ng-model="item.mainTitle"/>
                    </div>
		        </div>
		        
		   
		        <div>
			        <span>是否付费</span>
			        <div>
                        <div class="qinputgroup2"   
                                     qdropdownselect data-initdata="item.free"  data-dropdowndata="freeArray"  ng-model='selectitem.free'
                                     ng-change="item.free=selectitem.free.id;item['free_desc']=selectitem.free.name"
                                >
                                    <span  class="qinputitem2" >{{item['free_desc']}}</span>
                                    <div  class="addson dropdown-bg" style=""></div>
                        </div>
                    </div>
		        </div>
		        
		   
		        <div>
			        <span>课程类型</span>
			        <div>
                        <div class="qinputgroup2"   ng-required='true' 
                                     qdropdownselect data-initdata="item.courseTypeId"  data-dropdowndata="courseTypeIdArray"  ng-model='selectitem.courseTypeId'
                                     ng-change="item.courseTypeId=selectitem.courseTypeId.id;item['courseTypeId_desc']=selectitem.courseTypeId.name"
                                >
                                    <span  class="qinputitem2" >{{item['courseTypeId_desc']}}</span>
                                    <div  class="addson dropdown-bg" style=""></div>
                        </div>
                    </div>
		        </div>
		        
		        <div>
			        <span>课程内容</span>
			        <div>
                         <div class="ueditor" ng-model="item.content"  style="height:600px" >
                         </div>
                    </div>
		        </div>
		   		
			    <div style="clear:both;padding-top:20px;text-align:center;">
	                <input  type="submit" class="actionbtn" value="添加" >
	            </div>
       </div>
	</form>
</div>
</div>