.bold{
  font-weight:500;
}
.round {
  border-radius:100%/200%;
}
.round.small {
  border-radius:10%;
}
.round.mid {
  border-radius:30%;
}
.circle {
  border-radius:50%;
}


.qflexbox
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.qflexbox.verticaltop
{
          align-items: flex-start;
}
.qflexbox.stretch
{
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.qflexbox.vertical
{
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.qflexbox.center
{
  justify-content:center;
}
.qflexbox.space-between
{
    -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.qflexbox.space-around
{
  -ms-flex-pack: distribute;
    justify-content: space-around;
}
.qflexbox > .fixiedarea{
  display:block;
  -webkit-box-flex:none;
  -webkit-flex:none;/*相当于none*/
      -ms-flex:none;/*相当于none*/
          flex:none;/*相当于none*/
}
.qflexbox > .fixiedarea.qflexbox{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.qflexbox > .dynamicarea{
   display:block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.qflexbox > .dynamicarea.qflexbox{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


/*
 *
 *grid 
*/

.row {
  /* */
  margin-right: -0.05rem;
  margin-left: -0.05rem;
 
}
.clearfix:before,.clearfix:after,
.row:before,
.row:after{
  display: table;
    content: " ";
}
.clearfix:after,
.row:after{
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0.05rem;
  padding-left:0.05rem;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}


.justifyline{
  font-size:0.21rem;
  display:table;
  width:100%;
}
.justifyline.large{
  line-height:0.8rem;
}
.justifyline.mid{
  line-height:0.6rem;
}
.justifyline.small{
  line-height:0.4rem;
}
.justifyline > *:first-chld{
   display:table-cell;
}
.justifyline > *:last-child{
   display:table-cell;
   text-align:right;
}


.justifyline2{
  display:block;
}
.justifyline2 > *:first-chld{
    text-align:left;
    float:left;
}
.justifyline2 > *:last-chld{
    display:block;
    overflow:hidden;
    text-align:right;
}






/*
 *文本对齐
*/
.textjustify {
  text-align:justify;
  text-justify:distribute-all-lines;/*ie6-8*/
  text-align-last:justify;/* ie9*/
  -moz-text-align-last:justify;/*ff*/
  -webkit-text-align-last:justify;/*chrome 20+*/
}
.textright {
  text-align:right;
}
.textright {
  text-align:right;
}

/*
 *块对齐
*/
.block-vhcenter-container{
 -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.block-vhcenter-container > .center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(50%, -50%);
            transform: translate(-50%,-50%);
}


.block-vhcenter2-container{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-justify-content: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-align-items: center;
       -ms-flex-align: center;
           align-items: center;
}



.block-vhcenter3-container{
    display: table;
    text-align: center;
}
.block-vhcenter3-container > .center{
    display: table-cell;
    vertical-align: middle;
}


 /*
  *子元素必须有高度和宽度
 */
.block-vhcenter4-container {
  position:relative;
}
.block-vhcenter4-container .center{
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
    margin: auto;
}


.block-vcenter-container{
 -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.block-vcenter-container > .center{
  position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0rem, -50%);
    -moz-transform: translate(0rem, -50%);
}


.block-vcenter2{
  margin: 0 auto;
}


.block-hcenter-container{
 -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.block-hcenter-container > .center{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
}
.hcenter{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


/*
 *行内元素居中
*/


.inline-vhcenter{
     display:inline-block;
     line-height: 0.8rem;
     white-space: nowrap;
     vertical-align:middle;
     text-align:center;
}


.inline-vhcenter2-container {
  height:0.8rem;
  position:relative;
}
.inline-vhcenter2-container::before {
  content: " ";
  display:inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.inline-vhcenter2-container .center{
  display: inline-block;
  vertical-align: middle;
}

.inline-vhcenter3-container{
  display:table-cell;
}
.inline-vhcenter3-container .center{
  vertical-align:middle;
}

.inline-vhcenter4-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 4rem;
}




.inline-vcenter{
     height: 0.8rem;
     line-height: 0.8rem;
     white-space: nowrap;
}
.inline-hcenter{
   text-align:center;
}


.inline-vcenter2-container{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.inline-vcenter2-container > .item{
  display: block;
}


.inline-block-container{
  letter-spacing: -0.04rem;/*根据不同字体字号或许需要做一定的调整*/
  word-spacing: -0.04rem;
  font-size: 0;
}
.inline-block-container .center{
  font-size: 0.16rem;
  letter-spacing: normal;
  word-spacing: normal;
  display:inline-block;
  *display: inline;
  zoom:1;
}


.table-vhcenter-container{
   display:table;
}
.table-vhcenter-container .center{
   display:table-cell;
   vertical-align: middle;
     white-space: nowrap;
     text-align:center;
}


/*文本居中*/
.textcenter{
   text-align:center;
}



/*
  两端对齐
*/
.justify-box{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;

    
    display:-webkit-box;
    -webkit-box-pack:justify;
    
}
.justify-box > .justify-item{
  display:block;
  text-align:center;
}



.justify-box-v{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
   

    display:-webkit-box;
    -webkit-box-pack:justify;
    box-orient:vertical;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    flex-direction:column;
}
.justify-box-v > .justify-item{
  display:block;
  text-align:center;
}

.justify-box2-group{
  background:#ffffff;
  padding-left:0.2rem;
  border-top:3px solid #d5d5d5;
  border-bottom:3px solid #d5d5d5;
}
.justify-box2-group > *:not(:last-child){
  border-bottom:3px solid #d5d5d5;
}
.justify-box2{
  display:block;
  line-height:0.70rem;
  height: 0.70rem;
}
.justify-box2.large{
  line-height:0.86rem;
  height: 0.86rem;
}
.justify-box2.mid{
  font-size:0.24rem;
  display:block;
  line-height:0.70rem;
  height: 0.70rem;
}
.justify-box2.small{
  display:block;
  line-height:0.60rem;
  height: 0.60rem;
}
.justify-box2.verysmall{
  display:block;
  line-height:0.40rem;
  height: 0.40rem;
}
.justify-box2 > *{
  display:block;
  height: 100%;
}
.justify-box2 > .left{
  float:left;
}
.justify-box2 > .right{
  float:right;
}
.justify-box2 > .left > *{
  display: inline-block;
  vertical-align:middle;
}
.justify-box2 > .right > *{
  display: inline-block;
  vertical-align:middle;
}

.justify-v2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}
.justify-v2 > *{

}
@-webkit-keyframes rotate{
  from{-webkit-transform:rotate(0deg)}
  to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
  from{-moz-transform:rotate(0deg)}
  to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
  from{-ms-transform:rotate(0deg)}
  to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
  from{-o-transform:rotate(0deg)}
  to{-o-transform:rotate(360deg)}
}
.refreshing{
  animation: 3s linear 0s normal none infinite rotate;
  -webkit-animation:9.5s linear 0s normal none infinite rotate;
}