<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js"  ng-app="mainApp">
<!--<![endif]-->



<head>
<meta charset="utf-8"/>
<title>Metronic | Dashboard</title>


<!--
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
-->

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">


<!--
<link rel="shortcut icon" href="favicon.ico"/>
-->


<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!--
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
-->


<link href="css/main.css?v=154" rel="stylesheet" type="text/css"/>


<link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="js/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"/>
<link rel="stylesheet" href="js/bower_components/bootstrap-daterangepicker/daterangepicker.css"/>
<!-- END GLOBAL MANDATORY STYLES -->



<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->

<!-- END PAGE LEVEL PLUGIN STYLES -->



<!-- BEGIN THEME STYLES -->
<!-- END THEME STYLES -->


</head>
<body>


<div  ng-controller="ParentController">
  <form name="userForm" ng-submit="submitForm(userForm)" novalidate action="/article/headline/add">
    <div ng-class="{ 'success':userForm.$valid, 'danger': userForm.$invalid }"  >
    	{{userForm}}
    </div>
    <div ng-class="{ 'success':userForm.name.$valid, 'danger': userForm.name.$invalid }" >
    	userForm.name.$invalid 
    </div>
    <input  type="file" name="imageListFile" ng-model="imageListFile" id="imageListFile" valid-file  ng-required="true"/>
	<input type="text" ng-model="ishow2" >
    <input type="checkbox" ng-checked="ishow" ng-model="ishow" >
    日期<input type="text" ng-model="createdate" ng-required="true" ui-date >
    时间<input type="text" ng-model="createtime"  ng-init="createtime=(createdate|date:'hh:mm:ss')" ng-required="true" >
    <input ng-model="name" name="name" ng-maxlength=5 ng-pattern="/^[a-zA-Z]*$/"   ng-required="true" />
	<div  ng-controller="ChildController"  id="abcd"  ng-show="ishow">
			<input ng-model="childname" />
			<input ng-model="password" id="password"  ng-required="password" />
			<input ng-model="repassword"  pw-check="password" />
	</div>
	时间范围
	<input date-range-picker class="form-control date-picker" type="text"  ng-model="datePicker" options="{showDropdowns : true}" />
	<!--
	<input ng-model="createdate" ui-date ng-required="name=='1'"  />
	-->
	<br/>
	姓<input  type="text" ng-model="firstname"   />
	名<input  type="text" ng-model="lastname"   />
	全名<input  type="text" ng-model="fullname"   />
	
	<input type="submit" value="提交"/>
  </form>
   子页面
   <div class="mainContent" ui-view></div>
</div>




<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<script src="js/excanvas.min.js"></script> 
<![endif]-->


<script src="js/rem.js?curversion=5" type="text/javascript"></script>
<!--
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-ui-router.min.js"></script>

-->

<script type="text/javascript" src="js/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="js/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="js/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/bower_components/angular-ui-date/dist/date.js"></script>
<script type="text/javascript" src="js/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="js/bower_components/oclazyload/dist/ocLazyLoad.js"></script>
<script type="text/javascript" src="js/bower_components/qdropdownselect/1.0.2/plugin.js"></script>


<script src="js/bower_components/moment/moment.js"></script>
<script src="js/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="js/bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<!-- END CORE PLUGINS -->


<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="js/main.js" type="text/javascript"></script>

<script type="text/javascript">
		

	mainApp.controller("ParentController", function ($scope,$rootScope,$location,$timeout) {
		$scope.name="i am parent!!";
	    $scope.ishow=true;
		$scope.ishow2;
		$scope.$watch("ishow",function(oldval,newval)
		{
			console.log("oldval",oldval);
			console.log("newval",newval);
			$scope.ishow2=newval;
		});
		$scope.createdate=new Date();
		$scope.fullname;
		$scope.firstname;
		$scope.lastname;
		$scope.$watch(
			function (scope){
				return {firstname:scope.firstname,lastname:scope.lastname};
			}
			,function(obj, oldObj)
			{
				$timeout(function () {
					//$timeout used to safely include the asignation inside the angular digest processs
					console.log(obj);
					$scope.fullname = obj.firstname + obj.lastname;
				});
			}
			,true
		);
		
	    $scope.datePicker = {startDate: null, endDate: null};
		$scope.$on('transfername', function(event, data) {  
	         $scope.name = data;
	         console.log($scope.name);
	     });
	    $scope.$watch("name",function(newValue, oldValue)
	    {
	        $scope.$broadcast("transfernameToChild",newValue);
	    });
	    $scope.submitForm=function(flag)
	    {
	        console.log("submit",flag);
	        return true;
	    };
	});
	mainApp.controller("ChildController", function ($scope,$rootScope,$location) {
	    $scope.$watch("childname",function(newValue, oldValue)
	    {
	        $scope.$emit("transfername",newValue);
	    });
	    $scope.$on('transfernameToChild', function(event, data) {  
	         $scope.childname = data;
	     });
	});



	/*
	var debugscript=$("<script>").attr("src","http://192.168.1.213:8080/target/target-script-min.js#anonymous");
	$("body").css("-webkit-text-size-adjust","100%");
	$("head").append(debugscript);
	*/


</script>>

<!-- END PAGE LEVEL PLUGINS -->


<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
	$("#version").text(navigator.userAgent);
});
</script>
<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>