.qcarrousel {
    width:100%;
    position: relative;
    background: #ffffff;
    height:1000px;
    position: relative;
    margin-bottom:10px;
}
.qcarrousel .itembox{
   
}
.qcarrousel .itembox .item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.qcarrousel .itembox .item > img {
    width: 100%;
    height:1000px;
}
.qcarrousel .itembox .item.active {
    display: block;
}
.qcarrousel .dotsbox {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.qcarrousel .dotsbox .dotslist {
    display: inline-block;
    background: transparent;
}
.qcarrousel .dotsbox .dotslist .dot {
    display: inline-block;
    border-top:2px solid #333333;
    height:50px;
    background:transparent;
    width:200px;
    cursor:pointer;
}
.qcarrousel .dotsbox .dotslist .dot.active {
    border-top:2px solid #fff;
}




.hmenu {
    
}
.hmenu .hlistbox{
    width:2000px;
    overflow: hidden;
}
.hmenu .hlistbox .item{
    float:left;
    padding:20px;
}
.hmenu .next{
  width:0.35rem;
  height:0.60rem;
  position:absolute;
  top:50%;
  right:0;
  transform: translate(0, -50%);
  background-image:url("../images/next.png");
  background-position:center;
  background-size:0.35rem 0.60rem;
  background-repeat:no-repeat;
}
.hmenu .prev{
  width:0.35rem;
  height:0.60rem;
  position:absolute;
  top:50%;
  left:0;
  transform: translate(0, -50%);
  background-image:url("../images/prev.png");
  background-position:center;
  background-size:0.35rem 0.60rem;
  background-repeat:no-repeat;
}