.qcarrousel {
    width:100%;
    position: relative;
    background: #ffffff;
    height:1000px;
    position: relative;
    margin-bottom:10px;
}
.qcarrousel .itembox{
   
}
.qcarrousel .itembox .item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}
.qcarrousel .itembox .item > img {
    width: 100%;
    height:1000px;
}
.qcarrousel .itembox .item.active {
    display: block;
}
.qcarrousel .dotsbox {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.qcarrousel .dotsbox .dotslist {
    display: inline-block;
    background: transparent;
}
.qcarrousel .dotsbox .dotslist .dot {
    display: inline-block;
    border-top:2px solid #333333;
    height:50px;
    background:transparent;
    width:200px;
    cursor:pointer;
}
.qcarrousel .dotsbox .dotslist .dot.active {
    border-top:2px solid #fff;
}



.hmenu {
  margin:auto;
    position: relative;
    width:fit-content;
}
.hmenu .hlistbox{
    overflow: hidden;
}
.hmenu .hlistbox .item{
    float:left;
    padding:20px;
}
.hmenu .prev{
  width:35px;
  height:60px;
  position:absolute;
  top:50%;
  left:0;
  transform: translate(-100%, -50%);
  background-image:url("images/prev.png");
  background-position:center;
  background-size:35px 60px;
  background-repeat:no-repeat;
  max-width:100%;
}
.hmenu .next{
  width:35px;
  height:60px;
  position:absolute;
  top:50%;
  right:0;
  transform: translate(100%, -50%);
  background-image:url("images/next.png");
  background-position:center;
  background-size:35px 60px;
  background-repeat:no-repeat;
}


.pureimagecontainer {
    display:block;
    overflow:hidden;
}
.pureimagecontainer .wrapitem{
    float: left;
    font-size: 0;
    text-align: center;
    width: 25%;
}
.pureimagecontainer  .wrapitem .item{
    font-size:22px;
    border-radius:10px;
    width: 100%;
    display: inline-block;
    color:#aeacb3;
    padding:30px 10px;
    border:1px solid #4c4c4c;
    position:relative;
}
.pureimagecontainer  .wrapitem .item .popup{
    display:none;
    position:absolute;
    top:-20px;
    bottom:-20px;
    right:-20px;
    left:-20px;
    padding:30px;
    z-index: 2;
}
.pureimagecontainer  .wrapitem .item:hover .popup{
    display:block;
}
.pureimagecontainer  .wrapitem .item.active{
    background:#33d1ff;
    color:#ffffff;
}
