/*icon font*/
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1462785006'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1462785006#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1462785006') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1462785006') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1462785006#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:0.28rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: "\e617"; }
.icon-plus:before { content: "\e61e"; }
.icon-location2:before { content: "\e620"; }
.icon-location3:before { content: "\e621"; }
.icon-calendar:before { content: "\e622"; }
.icon-plus1:before { content: "\e61f"; }
.icon-refresh:before { content: "\e61d"; }
.icon-right:before { content: "\e61a"; }
.icon-right1:before { content: "\e61b"; }
.icon-wrong:before { content: "\e618"; }
.icon-right2:before { content: "\e61c"; }
.icon-iconfontguanbi1:before { content: "\e619"; }
.icon-building:before { content: "\e624"; }
.icon-umbrella:before { content: "\e625"; }
.icon-home-show:before { content: "\e600"; }
.icon-user-show:before { content: "\e601"; }
.icon-more-hiden:before { content: "\e602"; }
.icon-more-show:before { content: "\e603"; }
.icon-time-show:before { content: "\e604"; }
.icon-star-show:before { content: "\e605"; }
.icon-home-hiden:before { content: "\e606"; }
.icon-star-hiden:before { content: "\e607"; }
.icon-time-hiden:before { content: "\e608"; }
.icon-user-hiden:before { content: "\e609"; }
.icon-arrow-right:before { content: "\e60a"; }
.icon-lock:before { content: "\e60b"; }
.icon-arrow-down:before { content: "\e60c"; }
.icon-arrow-left:before { content: "\e60d"; }
.icon-arrow-top:before { content: "\e60e"; }
.icon-location:before { content: "\e60f"; }
.icon-wifi:before { content: "\e610"; }
.icon-park:before { content: "\e611"; }
.icon-phone:before { content: "\e612"; }
.icon-gym:before { content: "\e613"; }
.icon-restaurant:before { content: "\e614"; }
.icon-setting:before { content: "\e615"; }
.icon-boardroom:before { content: "\e616"; }
.icon-walk:before { content: "\e627"; }
.icon-heart-broken:before { content: "\e623"; }
.icon-heart:before { content: "\e626"; }


.iconfont{
    display: inline-block;
    color:#aaaaaa;
}
.iconfont.active{
  color:#e7313d;
}
.iconfont.home::before{
  content:"\e606";
}
.iconfont.home.active::before{
  content:"\e600";
}

.iconfont.iconfonttime::before{
  content:"\e608";
}
.iconfont.iconfonttime.active::before{
  content:"\e604";
}

.iconfont.star::before{
  content:"\e607";
}
.iconfont.star.active::before{
  content:"\e605";
}

.iconfont.user::before{
  content:"\e609";
}
.iconfont.user.active::before{
  content:"\e601";
}

.iconfont.more::before{
  content:"\e602";
}
.iconfont.more.active::before{
  content:"\e603";
}

.iconfont.arrow-left::before{
  content:"\e60d";
}
.iconfont.arrow-left::before{
  content:"\e60d";
}

.color1{
  color:#666666;
}
.color2{
  color:#999999;
}
.color3{
  color:#b0b0b0;
}
.color4{
  color:#d5d5d5;
}

.chengdubg{
 background-image:url(../images/chengdubg.png);
 background-clip: padding-box;
 background-size: cover;
 background-position:center;
 color:#fff;
}
.qingdaobg{
 background-image:url(../images/qingdaobg.png);
 background-clip:padding-box;
 background-size: cover;
 background-position:center;
}
.changshabg{
 background-image:url(../images/changshabg.png);
 background-clip:padding-box;
 background-size: cover;
 background-position:center;
}
.nanchangbg{
 background-image:url(../images/nanchangbg.png);
 background-clip:padding-box;
 background-size: cover;
 background-position:center;
}
.zhengzhoubg{
 background-image:url(../images/zhengzhoubg.png);
 background-clip:padding-box;
 background-size: cover;
 background-position:center;
}
.chongqingbg{
 background-image:url(../images/chongqingbg.png);
 background-clip:padding-box;
 background-size: cover;
 background-position:center;
}

html,body{
  width:100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}